/** Fonts **/
@import url('https://fonts.googleapis.comcss?family=Merriweather:400,400i,700,700i&display=swap');
@font-face {
font-family: 'Segoe UI Regular';
font-style: normal;
font-weight: normal;
src: local('Segoe UI Regular'), url('Segoe UI.woff') format('woff');
}


@font-face {
font-family: 'Segoe UI Italic';
font-style: normal;
font-weight: normal;
src: local('Segoe UI Italic'), url('Segoe UI Italic.woff') format('woff');
}


@font-face {
font-family: 'Segoe UI Bold';
font-style: normal;
font-weight: normal;
src: local('Segoe UI Bold'), url('Segoe UI Bold.woff') format('woff');
}


@font-face {
	font-family: 'Segoe UI Bold Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Segoe UI Bold Italic'), url('Segoe UI Bold Italic.woff') format('woff');
}

/** Default grid items definition **/

body {
	margin: 0;
}

.container {
	width: 956px;
	margin: 0 auto;
}

.logo { 
	grid-area: logo;
	padding: 9px 0;
}
.nav { 
	grid-area: nav; 
}
.blog-sidebar { 
	grid-area: blog-sidebar; 
}
.blog-featured-1 { 
	grid-area: blog-first; 
}
.blog-featured-2 { 
	grid-area: blog-second; 
}
.blog-featured-3 { 
	grid-area: blog-third; 
}
.hero { 
	grid-area: hero; 
	display: grid; 
	grid-template-areas: 'hero-image hero-image hero-image hero-image hero-text hero-text hero-text'; 
	grid-column-gap: 22px;
	grid-template-columns: 118px 118px 118px 118px 118px 118px 118px;
}
.header { 
	grid-area: header; 
	display: grid; 
	grid-template-areas: 'logo nav nav nav nav nav nav'; 
	grid-column-gap: 22px;
	grid-template-columns: 118px 118px 118px 118px 118px 118px 118px;
}

.hero-image {
	grid-area: hero-image;
}
.hero-text {
	grid-area: hero-text;
}
.blog-content {
	grid-area: blog-content;
}
.blog-navigation {
	grid-area: blog-navigation;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'logo nav nav nav nav nav nav'
    'hero hero hero hero hero hero hero'
    'blog-sidebar blog-first blog-first blog-second blog-second blog-third blog-third'
    'blog-content blog-content blog-content blog-content blog-content blog-content blog-navigation';
  grid-template-columns: 118px 118px 118px 118px 118px 118px 118px;
  grid-column-gap: 22px;
}

/** Navbar styles **/
.nav {
	position: relative;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.navbar-nav {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	list-style-type: none;
}

.navbar-nav li {
	padding-left: 33px;
}

.navbar-nav li a {
	text-align: left;
	font-weight: normal; 
	font-size: 12px;
	line-height: 25px; 
	font-family: 'Segoe UI Regular';
	letter-spacing: 1.2px;
	color: #333333;
	text-transform: uppercase;
	text-decoration: none;
}

.navbar-toggler {
	display: block;
	width: 27px;
	height: 15px;
	position: absolute;
	right: 0;
	top: 10px;
}
.navbar-toggler span {
	width: 27px;
	height: 2px;
	background: #000;
	margin: 0 0 4px 0;
	display: block;
}

/** Dashed item **/
.dotted-spaced {
  background: #929292;
  background-position: top;
  background-size: 2px 1px;
  background-repeat: repeat-x;
  padding: 10px;
}

/** Hero section styles **/
.hero {
	padding: 37px 0;
	position: relative;
}

.hero.article-hero {
	margin: 0;
	padding: 37px 0 48px 0;
}

.hero.article-hero:after {
	display: none;
}

/*.hero:before,
.hero:after {
	content: "";
	position: absolute;
	width: 100vw;
	height: 1px;
	background-image: linear-gradient(to right, #929292 10%, rgba(255, 255, 255, 0) 0%);
    background-position: top;
    background-size: 10px 2px;
    background-repeat: repeat-x;
  	top: 0;
  	left: -50%;
  	/*right: 0;*/
}

.hero:after {
	bottom: 0;
	top: auto;
}*/

.hero .hero-image .hero-image-wrap {
	width: 478px;
	height: 478px;
	overflow: hidden;
}

/*.hero .hero-image .hero-image-wrap img {
	max-width: 100%;
}*/

.hero .hero-text {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-self: center;
}

.hero .hero-text h3 /*.hero-top-subtitle*/ {
	font-weight: normal; 
	font-size: 12px;
	line-height: 25px; 
	font-family: 'Segoe UI Regular';
	letter-spacing: 1.2px;
	color: #333333;
	margin: 0 0 2px 0;
	text-transform: uppercase;
}

.hero .hero-text h1,
.card .card-body h1/*.hero-main-title */ {
	font-weight: normal; 
	font-size: 36px;
	line-height: 45px; 
	font-family: 'Merriweather', serif;
	letter-spacing: 0;
	color: #333333;
	margin: 0 0 11px 0;
}

.hero .hero-text h4/*.hero-bottom-subtitle*/ {
	font-weight: normal; 
	font-style: italic;
	font-size: 16px;
	line-height: 25px; 
	font-family: 'Merriweather', serif;
	letter-spacing: 0.8px;
	color: #000000;
	margin: 0 0 50px 0;
}

.icons-wrap img,
.icons-wrap a {
	margin: 0 7px 0 0;
}

.icons-wrap a {
	text-decoration: none;
}

/** Index page - blog left sidebar text **/
.blog-sidebar-text p {
	text-align: left;
	font-weight: normal; 
	font-size: 16px;
	line-height: 21px;
	font-family: 'Segoe UI Regular';
	letter-spacing: 0;
	color: #333333;
	margin: 0;
}

/** Featured blog items styles **/
.card {
	margin: 0 0 71px 0;
	border-radius: 0;
	border: 0;
}

.card-body {
	padding: 0;
}

.card-img-top {
	width: 256px;
	height:256px;
	margin: 0 0 19px 0;
	overflow: hidden;
}

.card .card-body h2/*.card-title*/ {
	text-align: center;
	font-weight: 400;
	font-size: 15px;
	line-height: 22px;
	font-family: 'Merriweather', serif;
	letter-spacing: 0;
	color: #333333;
	margin: 0;
}

.card .card-body h3/*.card-text*/ {
	font-weight: normal; 
	font-size: 12px;
	line-height: 25px; 
	font-family: 'Segoe UI Regular';
	letter-spacing: 1.2px;
	color: #333333;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
}

.card .card-body a {
	color: #333333;
}

/** Article page **/

/** Blog Content and Navigation **/
.blog-item__text p,
.blog-item__list ul {
	text-align: left;
	font-weight: normal;
	font-size: 17px;
	line-height: 29px;
	font-family: 'Merriweather', serif;
	letter-spacing: 0;
	color: #333333;
	max-width: 83%;
	margin-left: auto;
}

.blog-item__text p:first-of-type {
	margin-top: 0;
}

.blog-item__image {
	margin: 23px 0;
}

.blog-item__list ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-position: outside;
}

.blog-item__list li {
	padding-left: 16px;
	position: relative;
}

.blog-item__list li:before {
	content: "*";
	position: absolute;
	left: -10px;
}

.blog-sidebar-list ul {
	list-style-type: none;
	text-align: left;
	letter-spacing: 0;
	color: #333333;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	font-family: 'Segoe UI Regular';
	padding: 0;
	margin: 0;
}

.blog-sidebar-list ul li {
	padding-bottom: 20px;
}

.dashed {
	width: 100%;
	height: 1px;
	background-image: url('../img/dot-pattern.png');
    background-position: top;
    background-size: 12px 1px;
    background-repeat: repeat-x;
}

.dashed.bottom {
	margin-bottom: 37px;
}

/** Responsive styles **/

@media screen and (min-width: 480px) {
	.navbar-toggler {
		display: none;
	}
}

@media screen and (max-width: 480px) {
	.container {
		max-width: 100%;
	}

	.grid-container,
	.hero,
	.header {
		display: flex;
		padding: 0 20px;
		flex-direction: column;
	}

	.hero.homepage-hero {
		display: none;
	}

	.logo {
		text-align: center;
	}

	.logo img {
		max-width: 57px;
	}

	.card-img-top {
		width: 100%;
		height: auto;
	}

	.card-img-top img {
		width: 100%;
	}

	.navbar-collapse,
	.blog-item__image,
	.dashed,
	.blog-navigation {
		display: none;
	}

	.navbar-toggler {
		top: -40px;
	}

	.navbar-nav {
		display: block;
		text-align: center;
		padding: 0;
		margin-top: 0;
	}

	.nav {
		justify-content: center;
	}

	.navbar-nav li {
		padding-left: 0;
	}

	.blog-sidebar {
		display: flex;
		order: 7;
	}

	.card {
		margin: 0 0 20px 0;
	}

	.hero.article-hero {
		padding: 0 0 43px 0;
	}

	.hero .hero-image {
		display: flex;
		order: 2;
		margin: 45px 0 0 0;
	}

	.hero .hero-image .hero-image-wrap {
		width: 100%;
		height: auto;
	}

	.hero .hero-image .hero-image-wrap img {
		width: 100%;
	}

	.hero .hero-text h1,
	.card .card-body h1/*.hero-main-title*/ {
		font-size: 32px;
		line-height: 40px;
	}

	.hero .hero-text h4/*.hero-bottom-subtitle*/ {
		font-size: 15px;
		margin: 0 0 15px 0;
	}

	.blog-item__text p, 
	.blog-item__list ul {
		max-width: initial;
		font-size: 16px;
		line-height: 27px;
	}

	.blog-item__list li:before {
		left: 0;
	}
}